<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% @succeess = @test_passage.succeeded? %>

<p><%= t('.text') %> <span class=<%= @succeess ? 'green' : 'red' %>><%= @test_passage.success_percent %>%</span>
<span><%= @succeess ? t('.success') : t('.fail') %></span>
</p> 

<p><%= link_to t('.all_tests'), tests_path %></p>
