<h1>The <%= @test_passage.test.title %> was completed!</h1>

<% @succeess = @test_passage.succeeded? %>

<p>You corectly answered <span class=<%= @succeess ? 'green' : 'red' %>><%= @test_passage.success_percent %>%</span>
<span><%= @succeess ? 'Congratulation, you succesfuly pass the test!' : 'You failed to pass test!' %></span>
</p> 

<p><%= link_to 'To All Tests', tests_path %></p>
