<div class="title_container">
  <h1><%= t('.header', title: @test_passage.test.title) %></h1>
  <div class="timer"  data-timer = "<%= @test_passage.get_timer %>"></div>
</div>

<% current_question_number = @test_passage.current_question_number %>
<% number_of_questions = @test_passage.test.number_of_questions %>

<div class="mt-3">
  <p><%= t('.question') %> <%= current_question_number %> / <%= number_of_questions %></p>
</div>

<div class="progress-bar-container">
  <div class="progress-bar" 
       data-current-test = "<%= current_question_number %>"
       data-all-tests = "<%= number_of_questions %>">
    <p class="progress-bar_percent"></p>
  </div>
</div>

<p>
  <%= @test_passage.current_question.body %>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put, include_hidden: false do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body do |b| %>
    <div class="form-group">
      <p>
        <%= b.check_box id: "answer_ids_#{b.object.id}" %>
        <%= b.label %>
      </p>
    </div>
  <% end %>
  
  <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit t('.next'), class: 'btn btn-primary' %></p>
<% end %>
