<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <%= link_to t('.new_question'),  new_admin_test_question_path(@test) %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.category') %>:</strong>
  <%= @test.category_id %>
</p>

<p>
  <strong><%= t('.creator') %>:</strong>
  <%= @test.creator_id %>
</p>

<p>
  <strong><%= t('.time', timer: @test.timer ) %></strong>
</p>

<%= link_to t('edit'), edit_admin_test_path(@test) %>
<%= link_to t('back'), admin_tests_path %>

<p>
  <strong>
    <%= t('.questions', title: @test.title) %>:
  </strong>
</p>

<table>
  <tr>
    <th><%= t('.body') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>

  <ol>
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
  </ol>

</table>