<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <%= link_to 'New question',  new_admin_test_question_path(@test) %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Category_id:</strong>
  <%= @test.category_id %>
</p>

<p>
  <strong>Creator_id:</strong>
  <%= @test.creator_id %>
</p>

<%= link_to 'Edit', edit_admin_test_path(@test) %>
<%= link_to 'Back', admin_tests_path %>

<p>
  <strong>
    <%= @test.title %> Questions:
  </strong>
</p>

<table>
  <tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>

  <ol>
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
  </ol>

</table>