<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav">
      <li class="nav-project-name"><%= link_to "Test Guru Project", "/" %></li>
      <% if logged_in? %>
        <li class="nav-user"><span class="welcome">Welcome, <%= current_user.email%> Guru</span></li>
        <li class="nav-exit"><%= link_to 'Logout', '/logout', method: :delete, data: { confirm: 'Are you sure logout?' } %></li>
      <% end %>

      <% if !logged_in? %>
        <li class="nav-registration"><%= link_to "Registration", "/signup"%></li>
        <li class="nav-login"><%= link_to "Login", "/login"%></li>
      <% end %>
    </ul>

    <section class="content-wrapper">
      <div class="content-container">
        <%= yield %>
      </div>
    </section>
    <%= render "shared/footer" %>
  </body>
</html>
